<p>=====================Lazy Header=====================</p>
<main class="main">
  <div class="content">
    <p>Choose a link:</p>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="contacts">Contacts</a></li>
      <li><a routerLink="characters">Characters</a></li>
      <li><a routerLink="secret-door">Secret Door</a></li>
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="sacred-texts">Sacred Texts</a></li>
    </ul>
    <router-outlet/> <!--when you click on a routerlink, the component html will visualize here. When you click some other link, components will swap-->
  </div>
</main>
<p>=====================Lazy Footer=====================</p>
