<main class="main">
  <div class="content">
    <h1>Hello, {{ title }}</h1>
    <p>Congratulations! Your app is running. 🎉</p>
    <ul>
      <li><a routerLink="mat-auto-complete">Mat Auto Complete</a></li>
      <li><a routerLink="mat-button-toggle">Mat Button Toggle</a></li>
      <li><a routerLink="mat-card">Mat Card</a></li>
      <li><a routerLink="mat-chips">Mat Chips</a></li>
      <li><a routerLink="mat-dialog">Mat Dialog</a></li>
      <li><a routerLink="mat-expansion-panel">Mat Expansion Panel (Accordeon)</a></li>
      <li><a routerLink="mat-grid">Mat Grid</a></li>
      <li><a routerLink="mat-list">Mat List</a></li>
      <li><a routerLink="mat-menu">Mat Menu</a></li>
    </ul>
  </div>
</main>
<router-outlet/>
